iota/tpfinal/flowmara.json
[{"id":"fd6fe714.9554a8","type":"ui_text_input","z":"527e0db.b548df4","name":"","label":"Ingreso mara como Texto HEX","group":"b114c8b2.834a18","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":353,"y":527,"wires":[["dc20e3a5.552ae"]]},{"id":"dc20e3a5.552ae","type":"function","z":"527e0db.b548df4","name":"Desentramoado/Construct","func":"/**\n * Convertir entero a representaci칩n \n * binaria como lista de bool\n */\nfunction entero2binlist(entero) {\n    var binRep = entero.toString(2);\n    // agergar los 0's que falten\n    var retval = \"0000000000000000\".slice(binRep.length) + binRep;\n    retval = retval.split('').reverse().map(function (e) {return e == '1'})\n    return retval;\n}\n\nfunction getBits(i, from, to, asString) {\n    asString = asString || false;\n    to = to || 8;\n    from = from || 0;\n    if (i > 255) {\n        throw new Error(i + \"no es un valor por debajo de 0xFF\");\n    }\n    if (from > to) {\n        throw new Error(from + \">\" +to);\n    }\n    \n    var binRep = i.toString(2);\n    var retval = \"00000000\".slice(binRep.length) + binRep;\n    to = to || retval.length;\n    // Slice inverso, resta 8\n    retval = retval.slice(8 - to, 8 - from);\n    \n    if (!asString) {\n        retval = Number.parseInt(retval, 2);\n    }\n    return retval;\n}\n\nfunction readMaraFrame(data){\n    var parsed = {};\n    var b = null;\n    \n    switch (data.constructor){\n    case String:\n        b = new Buffer(data.replace(/ /g, ''), \"hex\");\n        break;\n    case Buffer:\n        b = data;\n        break;\n    }\n\n    var frameIndex = 0;\n    // Header\n    parsed.SOF = b.readUInt8(frameIndex++);\n    parsed.QTY = b.readUInt8(frameIndex++);\n    parsed.DST = b.readUInt8(frameIndex++);\n    parsed.SRC = b.readUInt8(frameIndex++);\n    parsed.SEQ = b.readUInt8(frameIndex++);\n    parsed.CMD = b.readUInt8(frameIndex++);\n    // Varsys\n    parsed.canVS = b.readUInt8(frameIndex++) -1;\n    parsed.VS = [];\n\n    for (let i = 0; i<parsed.canVS; i++) {\n        parsed.VS.push(b.readUInt8(frameIndex + i))\n    }\n    frameIndex += parsed.canVS;\n\n    parsed.canDI = b.readUInt8(frameIndex++) - 1;\n\n    parsed.DI = [];\n\n    for (let i = 0; i<parsed.canDI/2; i++) {\n        var entero = b.readInt16LE(frameIndex);\n        var binlist = entero2binlist(entero);\n        parsed.DI.push(binlist);\n        frameIndex += 2;\n    }\n\n    parsed.canAI = b.readUInt8(frameIndex++) - 1;\n\n    parsed.AI = [];\n\n    for (let i = 0; i<parsed.canAI/2; i++) {\n        parsed.AI.push(b.readInt16LE(frameIndex));\n        frameIndex += 2;\n    }\n    \n    // Eventos\n    parsed.canEV = b.readUInt8(frameIndex++);\n    parsed.events = [];\n    \n    var eventBoundary = frameIndex + parsed.canEV;\n    \n    while (frameIndex < eventBoundary){\n        try {\n            var event = {};  // El objeto que va a ser retornado\n\n            var tcd = b.readUInt8(frameIndex++);\n            event['dir'] = getBits(tcd, 0, 4);\n            //event['q'] = getBits(tcd, 4, 6);\n            event['type'] = getBits(tcd, 4, 8);\n            \n            var epb = b.readUInt8(frameIndex++);\n            event['estado'] = getBits(epb, 7, 8);\n            event['port'] = getBits(epb, 4, 7);\n            event['bit'] = getBits(epb, 0, 4);\n            \n            // Fecha\n            var year = b.readUInt8(frameIndex++),\n                month = b.readUInt8(frameIndex++) - 1,\n                day = b.readUInt8(frameIndex++),\n                hour = b.readUInt8(frameIndex++),\n                minute = b.readUInt8(frameIndex++),\n                second = b.readUInt8(frameIndex++);\n            event.date = new Date(year + 2000, month, day, hour, minute, second);\n            \n            parsed.events.push(event);\n        } catch (e) {\n            console.error(e);\n            // Se quedo칩 sin buffer\n            break;\n        }\n    }\n\n    return parsed;\n}\n\nif (msg.payload \n    && msg.payload.length > 10) \n{\n    return {\n      payload: readMaraFrame(msg.payload)\n    };        \n}\n","outputs":1,"noerr":0,"x":468,"y":590,"wires":[["46d27d78.770194","e59ef9f2.ff3038"]]},{"id":"15094e2c.911242","type":"catch","z":"527e0db.b548df4","name":"Captura errores","scope":null,"x":541,"y":433,"wires":[["12f51fb1.b321b"]]},{"id":"4dbc859e.1a418c","type":"ui_toast","z":"527e0db.b548df4","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Notificaci칩n","x":852,"y":413,"wires":[]},{"id":"5485d6af.eb7078","type":"ui_template","z":"527e0db.b548df4","group":"b114c8b2.834a18","name":"Salida MARA","order":3,"width":"12","height":"10","format":"El contenido de la trama hexadecimal de arriba se mostar치\nprocesada en el campo de abajo como JSON.\n<pre ng-bind-html=\"msg.payload\"></pre>","storeOutMessages":true,"fwdInMessages":true,"x":692,"y":933,"wires":[[]]},{"id":"46d27d78.770194","type":"function","z":"527e0db.b548df4","name":"JSON a texto ","func":"\nreturn {\n    payload: JSON.stringify(msg.payload, null, 2)\n};","outputs":1,"noerr":0,"x":642,"y":793,"wires":[["5485d6af.eb7078"]]},{"id":"8ea1de2f.d3bf3","type":"debug","z":"527e0db.b548df4","name":"Salida debugger","active":true,"console":"false","complete":"payload","x":742,"y":633,"wires":[]},{"id":"12f51fb1.b321b","type":"function","z":"527e0db.b548df4","name":"Agregar encabezado","func":"\nreturn {\n    payload: \"Hubo un error con: \" + msg.payload\n}","outputs":1,"noerr":0,"x":702,"y":513,"wires":[["4dbc859e.1a418c"]]},{"id":"f09ccedb.94a9c","type":"ui_button","z":"527e0db.b548df4","name":"Limpiar","group":"b114c8b2.834a18","order":2,"width":0,"height":0,"label":"Borrar","color":"","bgcolor":"","icon":"","payload":"''","payloadType":"str","topic":"","x":317.5,"y":832,"wires":[["5485d6af.eb7078"]]},{"id":"9c131fe.121dbe","type":"ui_gauge","z":"527e0db.b548df4","name":"","group":"74f14cfd.eeac44","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"Aguja","format":"{{value}}","min":0,"max":"20000","colors":["#00b500","#e6e600","#ca3838"],"x":854.5,"y":559,"wires":[]},{"id":"e59ef9f2.ff3038","type":"function","z":"527e0db.b548df4","name":"Tomar AI","func":"\nreturn {\n    payload: msg.payload.AI[0]\n}","outputs":1,"noerr":0,"x":702.5,"y":577,"wires":[["8ea1de2f.d3bf3","9c131fe.121dbe"]]},{"id":"b114c8b2.834a18","type":"ui_group","z":"","name":"Envio MARA","tab":"9ba58df8.dc4b","order":2,"disp":true,"width":"12"},{"id":"74f14cfd.eeac44","type":"ui_group","z":"","name":"Tablero","tab":"9781df59.ab30d","disp":true,"width":"6"},{"id":"9ba58df8.dc4b","type":"ui_tab","z":"","name":"Construct MARA","icon":"dashboard","order":1},{"id":"9781df59.ab30d","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
