iota/tpfinal/presentacion-node-red.json
[{"id":"9f8a2a9b.1f2188","type":"ui_toast","z":"c1b34d1f.728d9","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":642.5,"y":588,"wires":[]},{"id":"3de0dd48.dcec02","type":"catch","z":"c1b34d1f.728d9","name":"","scope":null,"x":375.5,"y":621,"wires":[["9f8a2a9b.1f2188"]]},{"id":"191702d4.43e88d","type":"debug","z":"c1b34d1f.728d9","name":"Depuración","active":true,"console":"false","complete":"payload","x":835.5,"y":177,"wires":[]},{"id":"2e70a05d.438a8","type":"ui_text","z":"c1b34d1f.728d9","group":"74f14cfd.eeac44","order":0,"width":0,"height":0,"name":"Estampa de tiempo","label":"Estampa de tiempo","format":"{{msg.payload}}","layout":"row-spread","x":802.5,"y":336,"wires":[]},{"id":"954eceed.37c53","type":"ui_chart","z":"c1b34d1f.728d9","name":"","group":"74f14cfd.eeac44","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":872.5,"y":237,"wires":[[],[]]},{"id":"dc8d0cbd.2ce54","type":"ui_button","z":"c1b34d1f.728d9","name":"","group":"74f14cfd.eeac44","order":0,"width":0,"height":0,"label":"button","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"inTopic","x":621.5,"y":157,"wires":[[]]},{"id":"74f14cfd.eeac44","type":"ui_group","z":"","name":"Tablero","tab":"9781df59.ab30d","disp":true,"width":"6"},{"id":"9781df59.ab30d","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
